# This script requires setting up your 'Personal access tokens' from github
# in your travis build setting as 'GH_TOKEN' and running travis encrypt
# API authentication from travis
#dist: bionic

language: python

python:
  - "3.8"

cache:
  - pip

env:
  global:
    - secure: "av7eQ6L/TybtjAnhrtGVR9ja6dZMLLSHK8fljuzl4MdYv4/OI0ftTXm2o6JZNQ6jfwoWu3kRQCcrWYXLEPvWB4qaAcjyd9Wohm/1U1zcgOK6Gb3zIohKkDW0Vc5ciZp8joDrVMKGNgh49IPElRUYUIZAC/uWKYAcKZQhzo0UM5v1zIOBrL/WoRZ2KaOwva+vPbIlUOSwe7k0mg4aJghD7YqJwmb81H/TW2wP2xvksnnF5fKW8ODGCpRK0flgftxVx1tZyIVgGfe4ach2PLKaZa0F24ifyRBdPNAeCXGsC/9EcPePlJXuVVb91jmdUhq9Zcc1NZOqOGhvGUKKkvcizG0JgCgu9/DgahxKLiu2h20a+mvKGATZm2Q8FF4YjHpNMyeF3eUyTwrjIdS7+/7XD6igg/zD/i9jaXPwQEFvgYWCuAsqcAXQHPAUM41w3ifqmDlJhwmPIXsdf+OlPCvlhEiZBZWXmZjK96EMFRtdsdbt2RcC2jHXLeu8eCrAkoebyi/jXO7e+w9K+40U1eszH3diBSz7uCJvsyL0m0mZ1cq88nCjDl/yDeBiuCp+1MzlK0axeLj/YxUvgAEQnhGUEXm/Iyc6Z0JJaBS5SxCKMTEL9R7ApPtoqGdW88OWFVanEvNTJK+MhzUcMJuOqaSNY2mDkYQW5/njjNrWjFCFk64="
    - GIT_NAME: "TravisCI"
    - GIT_EMAIL: "travis@travis-ci.org"
    - TRAVIS_REPO_SLUG: "Import-External-Sources/pornhosts"
    - GIT_BRANCH: master
    - TZ: UTC
    - PYFUNCEBLE_CONFIG_DIR: "${TRAVIS_BUILD_DIR}/dev-tools/"
    - PYFUNCEBLE_AUTO_CONFIGURATION: PyFunceble

addons:
  apt:
    packages:
    - dos2unix
    - msttcorefonts

install:
  - pip3 install --upgrade pip
  - pip3 install PyFunceble-dev
  - pip3 install ultimate-hosts-blacklist-whitelist

git:
  depth: 5

matrix:
  fast_finish: true

sudo: required

script:
  # We put both in same statement so that if one fails the whole test result will fail.
  - bash dev-tools/PrepareData.sh && bash dev-tools/DataTesting.sh
