# This hosts file for DD-WRT Routers with DNSMasq is brought to you by 
# https://www.mypdns.org/
# Copyright: Content: https://www.mypdns.org/
# Source:Content: https://gitlab.com/my-privacy-dns
# License: AGPL-3.0
# This hosts file for DD-WRT Routers with DNSMasq is brought to you by Mitchell Krog

# You are free to copy and distribute this file for non-commercial uses,
# as long the original URL and attribution is included. 

# Please forward any additions, corrections or comments by logging an issue at
# https://gitlab.com/my-privacy-dns/support/issues

